* {
    box-sizing: border-box;
}
body {
    background-color: rgb(111, 133, 155);
}

.container {
    border: black solid 3px;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    margin-top: 100px;
    margin-left: 300px;
}

.div {
    display: flex;
    flex: 1;
}

.square {
    border: white solid 1px;
    display: flex;
    flex: 1;
    aspect-ratio: 1 / 1;
}
